<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">

    <h2 th:text="'Nuevo empleado del hospital' "></h2>

    <form method="post" th:action="@{modificar}" th:object="${personaData}">
        <div class="col-6">
            <div class="form-group">
                <label for="nombre">Nombre del Empleado:</label>
                <input class="form-control" id="nombre" name="nombre" required th:value="${personaData.nombre}" type="text"/>
                <label for="responsabilidad">Responsabilidad:</label>
                <input class="form-control" id="responsabilidad" required name="responsabilidad" th:value="${personaData.responsabilidad}" type="text"/>
                <label for="salario">Salario:</label>
                <input class="form-control" id="salario" name="salario" required th:value="${personaData.salario}" type="number"/>
            </div>
            <button class="btn btn-primary" type="submit">Crear empleado</button>
            <a class="btn btn-link" th:href="@{/personal/{id}/visualizar(id=${persona.id})}">Cancelar</a>
        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>